mat-sidenav-container {
  height: 100vh;
  background: var(--main-container-background-color);
  position: relative;

  mat-sidenav{
    background: #2A2D3E;
    // color: var(--white-color);
    border-radius: 0px;

    .image-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      .logo{
        width: 50%;
        height: auto;
      }

      .logothumbnail{
        width: 50% !important;
        height: auto !important;
        // margin: 20px auto 20px !important;
        display: flex !important;
      }
    }

    .menuitem{
      cursor: pointer;
      color: #f5f5f5;
      opacity: 0.7;

      &:hover{
        background-color: #5a5d65;
        transition: background-color 0.3s ease;
      }

      .collese-margin{
        margin-left: 0 !important;
        margin-right: 0 !important;
      }

      img{
        width: 20px;
      }
    }

    .active-menu {
      background: #3A3D4D;
      border-left: 4px solid var(--error-message-color);
      font-weight: bold;
      opacity: 1;
    }
  }

  mat-toolbar{
    background-color: var(--main-container-background-color);
    color: var(--text-color);
    position: fixed;
    z-index: 999;
    width: calc(100vw - 60px) !important;

    .menu-icon{
      color: var(--text-color);
    }

    .toogle-icon{
      background-color: var(--text-color);
      color: var(--primary-color);
      font-size: 28px;
      cursor: pointer;
    }

    .username{
      font-weight: 600;
      color: var(--text-color);
      font-size: 18px;
    }
  }

  .toolbar-width{
    width: calc(100vw - 220px) !important;
  }

  .scrollable-content {
    margin-top: 60px;
    overflow-y: auto;
    height: calc(100vh - 60px);
  }
}

.mat-sidenav ::ng-deep {
  &::-webkit-scrollbar {
    width: 6px !important;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px !important;
    background-color:  var(--primary-color) !important;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
    background-color: #757575 !important;
  }
}


