#list-table {
  border-collapse: collapse;
  width: 100%;
}

#list-table td {
  white-space: nowrap;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  text-align: start;
  font-size: 14px !important;
  vertical-align: middle;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  cursor: pointer;
}

#list-table th {
  font-weight: 600 !important;
  white-space: nowrap;
  line-height: normal;
  font-style: normal;
  font-size: 16px !important;
  vertical-align: middle;
  background-color: #f6f6f6;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
