
@if(!isLoading){
  <div class="table table-hover table-striped">
    <table class="table gy-5" id="list-table">
      <thead>
        <tr class="fw-bold">
          <th scope="col" *ngFor="let item of tableHeaderArray" [ngClass]="{'text-end' : item.type == 'number'}" [ngStyle]="{ width: item.width+'%', whiteSpace: item.fieldname === 'action' ? 'nowrap' : 'normal'}">
            {{ item.header }}
          </th>
        </tr>
      </thead>
      <tbody *ngIf="!isLoading && tableDataSource.length == 0">
        <tr>
          <td [attr.colspan]="tableHeaderArray.length" class="text-center">
            empty list
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="tableDataSource.length > 0">
        <tr *ngFor="let row of tableDataSource; let i = index;">
          <td *ngFor="let cell of tableHeaderArray" [ngClass]="{'text-end' : cell.type == 'number'}" [ngStyle]="{ whiteSpace: cell.type === 'action' ? 'nowrap' : 'normal'}">
            <span *ngIf="cell.type === 'text' || cell.type === 'number' || cell.type === 'status'" [ngClass]="{'status' : cell.type === 'status'}">
              {{ row[cell.fieldname] }}
            </span>

            <!-- In Date Column -->
            <span *ngIf="cell.type === 'date'">
              {{ row[cell.fieldname] | date:'dd MMM yyyy' }}
            </span>

            <!-- In rating Column -->
            <span *ngIf="cell.type === 'rating'">
              <ngb-rating [rate]="row.rating.rate"
              [max]="5"
              [readonly]="true" />
            </span>

            <!-- In Stock Column -->
            <span *ngIf="cell.type === 'stock'">
              <span [ngClass]="{'instock': row.rating.count > 0, 'outstock': row.rating.count === 0}">
                {{ row.rating.count > 0 ? 'INSTOCK' : 'LOWSTOCK' }}
              </span>
            </span>

            <!-- Image Column -->
            <div *ngIf="cell.type === 'image'" class="image-wrapper">
              <img [src]="row[cell.fieldname]" alt="Product Image" class="product-img">
            </div>

            <!-- Action Buttons -->
            <span *ngIf="cell.type === 'action'">
              <app-button-loading [isEdit]="true" [button_text]="'Edit'" class="me-2" (onClick)="onEdit(row)"></app-button-loading>
              <app-button-loading [isDelete]="true" [button_text]="'Delete'" (onClick)="onDelete(row)"></app-button-loading>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
}@else{
  <app-table-skeleton></app-table-skeleton>
}
