@if (isReactiveForm && control){
  <label class="col-form-label col-form-label-sm">{{ label }}</label>
  <input type="text" class="form-control" [disabled]="isDisabled" [formControl]="control" [ngClass]="{ 'is-invalid': showError }"/>
  <div *ngIf="showError" class="invalid-feedback">
    <div *ngIf="control.hasError('required')" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
  }@else {
  <!-- <label *ngIf="label" class="mb-2">{{ label }} </label>
  <select class="form-select form-select-sm w-100" [formControl]="control" [disabled]="isDisabled" [(ngModel)]="value" (ngModelChange)="valueChanges($event)">
    <ng-container *ngFor="let item of options">
      <option [value]="item[valueKey]">{{ item[labelKey] }}</option>
    </ng-container>
  </select> -->
  }
