@if (isReactiveForm && control){
  <label class="col-form-label col-form-label-sm" *ngIf="label">
    {{ label }} <span class="require-color" *ngIf="isEssential">*</span>
  </label>
  <input type="text" class="form-control form-control-sm" [formControl]="control" [ngClass]="{ 'is-invalid': showError }"/>
  <div *ngIf="showError" class="invalid-feedback">
    <div *ngIf="control.hasError('required')" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
  }@else {
  <label *ngIf="label" class="mb-2">{{ label }} </label>
  <input class="form-control form-control-sm"
    [placeholder]="placeHolder"
    [type]="type"
    [(ngModel)]="value"
    [readOnly]="readOnly"
    [disabled]="isDisabled"
    (ngModelChange)="onValueChanges($event)"
    />
  }
