<div class="w-100">
  <div class="border-bottom w-100">
    <ngx-skeleton-loader
      [theme]="{  width: '100%', 'border-radius': '1', height: '15px','margin-bottom': '10px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{ width: '70%',  'border-radius': '1', height: '15px', 'margin-bottom': '10px' }"></ngx-skeleton-loader>
  </div>
  <div class="border-bottom mt-3">
    <ngx-skeleton-loader
      [theme]="{  width: '100%', 'border-radius': '1', height: '15px','margin-bottom': '10px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{ width: '70%',  'border-radius': '1', height: '15px', 'margin-bottom': '10px' }"></ngx-skeleton-loader>
  </div>
  <div class="border-bottom mt-3">
    <ngx-skeleton-loader
      [theme]="{  width: '100%', 'border-radius': '1', height: '15px','margin-bottom': '10px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{ width: '70%',  'border-radius': '1', height: '15px', 'margin-bottom': '10px' }"></ngx-skeleton-loader>
  </div>
</div>
