@import "./themes.scss";

.require-color{
  color : var(--error-message-color);
  font-weight: 600;
}

.layout-container{
  display: grid;
  gap: 16px;
}

.card{
  background: var(--secondary-color) !important;
  color: var(--white-color) !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

p-breadcrumb {
  color: var(--white-color) !important;
  font-size: 14px;
  background: black;
  nav{
    background: none !important;
    border: none !important;
    padding-left: 0 !important;
    ol{
      padding-left: 0 !important;
      a{
        text-decoration: none !important;
        color: var(--white-color) !important;
      }
    }
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
