@import "./themes.scss";
@import "@ng-select/ng-select/themes/default.theme.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

.require-color{
  color : var(--error-message-color);
  font-weight: 600;
}

.layout-container{
  display: grid;
  gap: 16px;
}

// .card{
  // background: var(--secondary-color) !important;
  // color: var(--white-color) !important;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
// }
.table-overflow{
  overflow-x: auto;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
