:root {
  --primary-color: #ffffff;
  --secondary-color: #2A2D3E;
  --error-message-color: #e40000;
  --success-color: #24a20e;
  --white-color: #ffffff;
  --wraning-color : #E4A11B;
  --background-color: #f5f5f5;
  --text-color: #333333;
  --main-container-background-color: #ffffff;
}

.dark-mode {
  --primary-color: #2A2D3E;
  --secondary-color: #ffffff;
  --background-color: #202231;
  --text-color: #fff;
  --main-container-background-color: #212332;
}
